<!DOCTYPE html>
<html lang="en">
{{>header}}
<body>
    {{>nav}}

<div class="blogs content">
    <h2>All Blogs</h2>

        {{#each blogs}}
        <h3 class="title"><a href="/blog/{{this.id}}">{{this.title}}</a></h3>
        <p>{{this.snippet}}</p>
        <br>
        
    {{else}}
        <p>There are no blogs to display...</p>
    
    {{/each}}
  </div>

{{> footer}}
    
</body>
</html>