<nav>
    <div class="site-title">

    <a href="/"><h1>Pranjal Blog</h1></a>
    <p>A Pranjal Pandey's blog site</p>
  </div>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/new-blog">New Blog</a></li>
  </ul>
    </div>
</nav>